.activities-wrapper {
  font-family: "Nunito Sans", sans-serif;
  /* background-image: url('/Activities/activitiesBG.png'); */
}
/* navbar */
@media only screen and (max-width: 500px) {
  .activities-wrapper .navbar span {
    visibility: hidden;
  }
}

/* activities */
.activities-wrapper .activities{
    width: 70%;
    margin: auto;
    padding: 12px;
}
.activities-wrapper .activity-item{
    width: 100%;
    padding: 8px;
    border-radius: 12px;
    background-color: rgb(233, 243, 247);
}
.activities-wrapper .activity-item:hover{
    box-shadow: 2px 12px 8px #d5d5d680;;
}