/* sidebar */
/* posts */
/* promotion */
/* mobileNavbar */
/* mobileTopBar */
body {
  background-color: rgba(238, 238, 238, 0.89);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.feed-wrapper #navbar {
  position: sticky;
  top: 0px;
  z-index: 2;
  box-shadow: 2px 5px 15px rgba(173, 173, 173, 0.233);
}

.feed-wrapper .mobile-navbar {
  display: none;
  position: sticky;
  bottom: 0px;
  z-index: 2;
  box-shadow: 2px 5px 15px rgba(173, 173, 173, 0.233);
  display: none;
}

.feed-wrapper .mobile-top-bar {
  background-color: rgba(232, 235, 236, 0.897);
  position: fixed;
  top: 0px;
  height: 65px;
  width: 100%;
  display: none;
}

/* sidebar */
.feed-wrapper .side-menu {
  position: fixed;
  background-color: #05386b;
  color: white;
  width: 13%;
  height: 100%;
}
@media only screen and (max-width: 1080px) {
  .feed-wrapper .side-menu {
    display: none;
  }
  .feed-wrapper #navbar {
    display: none;
  }
  .feed-wrapper .card {
    margin-bottom: 15px;
    box-shadow: 2px 5px 15px 8px rgba(206, 208, 209, 0.678);
    overflow-y: auto;
  }
  .feed-wrapper .mobile-navbar {
    display: block;
  }
  .feed-wrapper .mobile-top-bar {
    display: block;
  }
}
.feed-wrapper .profile img {
  height: 100px;
  width: 100px;
  margin-left: 75px;
  margin-top: 20px;
}
.feed-wrapper .profile p {
  margin-left: 75px;
  margin-bottom: 50px;
}
.feed-wrapper .item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 0;
  margin-bottom: 2px;
}
.feed-wrapper .item:hover {
  /* background-color: #521A39; */
  background-color: #f8f9fa;
  color: blue;
  /* transform: rotate(360deg); */
  /* transition-timing-function: ease-in-out; */
  transition-duration: 0.38s;
}
.feed-wrapper .item .sidebar-icon {
  margin: 4px 0 3px 300px;
}
.feed-wrapper .item p {
  margin: 3px 0 0 -10px;
  font-size: 16px;
}

/* promotion */
.feed-wrapper .promotion {
  background-image: linear-gradient(to right, #003973, #e5e5be);
  color: white;
  width: auto;
  height: 280px;
  position: relative;
  left: 13%;
  width: 87%;
}
.feed-wrapper .pro-buttons {
  text-decoration: none;
  color: white;
  font-size: 25px;
  border-radius: 8px;
  padding: 30px 65px;
  margin-left: 10px;
  background-color: rgba(20, 135, 230, 0.911);
  transition: 0.19s;
}
.feed-wrapper .pro-buttons:hover {
  background-color: rgba(237, 238, 230, 0.938);
  color: rgb(18, 18, 36);
  border: 1px solid rgb(30, 151, 231);
  transform: scale(1.16);
}

.feed-wrapper .post-container {
  width: 87%;
  position: relative;
  left: 13%;
  margin-top: 10px;
  padding: 12px;
}
/* cards */
.feed-wrapper .card {
  /* width: 24rem; */
}
/* threeDots */
.feed-wrapper .card-dots-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(247, 255, 255, 0.219);
  height: 25px;
  width: 25px;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed-wrapper .card-dots-icon:hover {
  background-color: rgba(247, 255, 255, 0.61);
}
.feed-wrapper .card-save-icon {
  position: absolute;
  top: 40px;
  right: 5px;
  background-color: rgba(216, 213, 195, 0.301);
  height: 25px;
  width: 25px;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed-wrapper .card-save-icon:hover {
  background-color: rgba(216, 213, 195, 0.658);
}
.feed-wrapper .card-badge-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(206, 185, 77, 0.616);
  height: 25px;
  width: 25px;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed-wrapper .card-footer a:visited {
  color: #454646;
}
.feed-wrapper .card-dots:hover {
  background-color: rgba(227, 252, 252, 0.575);
}

/* footer */
.feed-wrapper .footer-container {
  background-color: #05386b;
  color: white;
}
