body{
    background-color: rgb(245, 245, 245);
    background-image: url('/Login/images/loginBodyBG.png');
}
.login-page-wrapper .whole-page{
    background-color: rgba(255, 255, 255, 0.952);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 700px;
    width: 60%;
    border-radius: 4px;
    box-shadow: 10px 15px 25px 8px rgb(204, 204, 204);
    display: flex
}
.login-page-wrapper .left-part{
    width: 50%;
    height: auto;
}
.login-page-wrapper .login-form{
    margin: 0% auto;
}
.login-page-wrapper input{
    padding: 10px;
    width: 80%;
    margin: 3% auto;
}
.login-page-wrapper .other-button{
    width: 80%;
    margin-bottom: 10px;
    margin-left: 10%;
    padding: 12px;
}
.login-page-wrapper .right-part{
    width: 50%;
    background-image: url('./images/loginBG\ \(2\).jpg');
    background-size: cover;
    background-position: center;
}
.login-page-wrapper .login-cover-image{
    height: 700px;
    width: 100%;
}
.login-page-wrapper .photo-credit{
    position: absolute;
    bottom: 0%;
    right: 1%;
}
.login-page-wrapper .signup-form{
    margin: 5% auto;
    display: none;
}
.login-page-wrapper .photo-credit a{
    text-decoration: none;
    color: rgb(218, 218, 218);
}