/* navbar */
@media only screen and (max-width: 500px) {
  .activities-wrapper .navbar span {
    visibility: hidden;
  }
}
/* <!-- GoToMainContent -->
<!-- GoToFooterSection --> */

/* <!-- GoToMainContent --> */
.feed-main-content-wrapper .content {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 700px;
}
.feed-main-content-wrapper .side-menu {
  background-color: rgb(0, 0, 255, 0.6);
  color: white;
}
.feed-main-content-wrapper .main-content {
  background-color: rgb(0, 255, 0, 0.2);
}
.feed-main-content-wrapper .profile img {
  height: 100px;
  width: 100px;
  margin-left: 75px;
  margin-top: 20px;
}
.feed-main-content-wrapper .profile p {
  margin-left: 75px;
  margin-bottom: 50px;
}
.feed-main-content-wrapper .item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 0;
  margin-bottom: 2px;
}
.feed-main-content-wrapper .item:hover {
  /* background-color: #521A39; */
  background-color: #f8f9fa;
  color: blue;
  /* transform: rotate(360deg); */
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}
.feed-main-content-wrapper .item .sidebar-icon {
  margin: 4px 0 3px 300px;
}
.feed-main-content-wrapper .item p {
  margin: 3px 0 0 -10px;
  font-size: 16px;
}
/* <!-- GoToFooterSection --> */
.feed-footer-wrapper {
  background-color: rgb(0, 0, 255, 0.5);
  color: #fff;
}


/* main component design */
.main-content .checkout-form {
  border: 2px solid rgb(0, 0, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  margin: auto;
}
