.about-us-wrapper{
    background-image: url('/AboutUs/backgroundImage.png');
    background-repeat: repeat;
    /* background-image: linear-gradient(to bottom left,#16222a5e,#ffffff60); */
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#navbar {
    z-index: 2;
    box-shadow: 2px 5px 15px rgba(173, 173, 173, 0.233);
  }

.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}

.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
}

.content-section{
    float: left;
    width: 40%;   
}

.image-section{
    float: right;
    width: 50%;
}
.image-section img{
width: 100%;
height: auto;

}

.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3{
    margin-top: 20px;
    color: black;
}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 21px;
    line-height: 1.5;
}

.content-section .content .button{
    margin-top : 30px;
    
}

.content-section .content .button a{
    border-radius: 25px;
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #ffff;
    font-size: 15px;
    letter-spacing: 1.5;
}
.content-section .content .button a:hover{
    font-size: 18px;
    background-color: #a52a2a;
    color:  #ffff;
}

.content-section .social{
    margin: 40px 40px;
}

.content-section .social i{
    color:  #a52a2a;
    font-size:  20px;
    padding: 0px 5px;
}

.content-section .social i:hover{
    font-size: 23px;
    color: #3d3d3d;
}


@media screen and (max-width: 768px){
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding:50px;
    }
    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;   
    }
    .image-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
   
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    .content-section .title{
        text-align: center;
        font-size: 20px;
    }

    .content-section .content .button{
        text-align: center;
      

    }

    .content-section .social{
        text-align: center;
    }

}
/* <!-- GoToFooterSection --> */
.about-us-footer-wrapper {
    background-color: rgb(0, 0, 255, 0.5);
    color: #fff;
  }
