/* navbar */
@media only screen and (max-width: 500px) {
  .activities-wrapper .navbar span {
    visibility: hidden;
  }
}
body {
  background-color: #f8f9fa;
  margin: 0px;
  padding: 0px;
}
/* <!-- GoToNavbarSection -->
  <!-- GoToFooterSection --> */
/* <!-- GoToMainSection --> */

/* <!-- GoToFooterSection --> */
.home-footer-wrapper {
  background-color: rgb(0, 0, 255, 0.5);
  color: #fff;
}
/* <!-- GoToMainSection --> */
.main-content-wrapper {
  background: #fff;
}
.main-content {
  width: 80%;
  margin-left: 10%;
  padding-top: 10px !important;
  margin-bottom: 80px;
}
.main-content .side-info img {
  width: 100%;
}
.main-content .post-content img {
  width: 50%;
  margin: 25px 25%;
}
.main-content .back-btn {
  width: 90px;
  padding: 10px 20px;
  margin-top: 40px;
  background-color: rgb(0, 0, 255, 0.5);
  border-radius: 10px;
  cursor: pointer;
}
.main-content .back-btn:hover {
  background-color: rgb(0, 0, 255, 0.4);
}
.main-content .post-info {
  width: 500px;
  display: grid;
  grid-template-columns: 50px 130px 130px 100px;
  grid-gap: 10px;
  margin: 10px 0;
}
.main-content .post-info p {
  margin-top: 10px;
}
.main-content .post-info img {
  width: 100%;
}
.main-content .author-name:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}

@media only screen and (max-width: 768px) {
	.main-content .post-content img {
    width: 80%;
    margin: 25px 10%;
  }
}