body {
  background-color: #f8f9fa;
  margin: 0px;
  padding: 0px;
}
/* <!-- GoToNavbarSection -->
  <!-- GoToFooterSection --> */
/* <!-- GoToMainSection --> */

/* <!-- GoToFooterSection --> */
.home-footer-wrapper {
  background-color: rgb(0, 0, 255, 0.5);
  color: #fff;
}
/* <!-- GoToMainSection --> */
.main-content-wrapper {
  background: #fff;
}
.main-content {
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 50px;
}
.main-content .side-info {
  background: rgba(0, 0, 0, 0.219);
  padding:5px;
}
.main-content .side-info .side-header{
    text-align: center;
    font-size:18px;
    margin-top:50px;
    border-bottom: 2px solid #fff;
}
.side-info .more-blogs{
    margin-top:40px;
}
.side-info .more-blogs .more-blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 15px;
}
.side-info .more-blogs .more-blog:hover{
    color: #fff;
    cursor: pointer;
}
.side-info .more-blogs .more-blog img{
    border-radius:5px;
}
.main-content .side-info img {
  width: 100%;
}
.main-content .post-content img{
    width: 60%;
    margin:50px 20%;
}
.main-content .back-btn{
    width:90px;
    padding:10px 20px;
    margin-top:20px;
    background-color:rgb(0, 0, 255, 0.5);
    border-radius:10px;
    cursor: pointer;
}
.main-content .back-btn:hover{
    background-color:rgb(0, 0, 255, 0.4);
}
.main-content .post-all-content{
    margin-bottom: 80px;
}
.main-content .post-info{
    width:500px;
    display: grid;
    grid-template-columns:50px 130px 70px 100px;
    grid-gap: 10px;
    margin: 10px 0;
}
.main-content .post-info p{
    margin-top:10px;
}
.main-content .post-info img{
    width: 100%;
}
.main-content .post-subtitle{
    font-size:18px;
    cursor: pointer;
    border: 1px solid #000;
    padding:5px;
    border-radius:10px;
}
.main-content .post-subtitle:hover{
    transform: scale(1.1);
    transition: 1s;
}
.main-content .author-name:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}




@media all and (max-width: 768px){
	.side-info{
    display: none;
  }
  .main-content {
    width: 80%;
    margin-left: 10%;
    display: block;
  }
}
@media all and (max-width: 1080px){
	.main-content {
    width: 90%;
    margin-left: 5%;
    grid-gap: 20px;
  }
}